@font-face {
	font-family: "govstrap-icons";
	src: url('./fonts/govstrap/govstrap-icons.eot');
	src: url('./fonts/govstrap/govstrap-icons.eot?#iefix') format('eot'),
		url('./fonts/govstrap/govstrap-icons.woff2') format('woff2'),
		url('./fonts/govstrap/govstrap-icons.woff') format('woff'),
		url('./fonts/govstrap/govstrap-icons.ttf') format('truetype'),
		url('./fonts/govstrap/govstrap-icons.svg#govstrap-icons') format('svg');
}

@mixin icon-styles {
	font-family: "govstrap-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == drupal {
		$char: "\E001";
	}
	@if $filename == govcms {
		$char: "\E002";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-drupal {
	@include icon(drupal);
}
.icon-govcms {
	@include icon(govcms);
}
